<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{stocks/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>株修正</title>
</head>
<body>
<div layout:fragment="content">
    <h2>株修正</h2>
    <form th:action="@{/stocks/edit/{id}(id=${stockForm.id})}" th:object="${stockForm}" method="post">
        <label>銘柄名: <input type="text" th:field="*{name}" /></label><br>
        <label>証券コード: <input type="text" th:field="*{code}" /></label><br>
        <label>価格: <input type="number" th:field="*{price}" /></label><br>
        <div th:if="${#fields.hasErrors()}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        <button type="submit">更新</button>
    </form>
    <a th:href="@{/stocks}">一覧へ戻る</a>
</div>
</body>
</html>